.about-myself__title {
    display        : flex;
    width          : 154px;
    background     : #545454;
    border-radius  : 5px;
    font-family    : 'Montserrat';
    font-weight    : 600;
    font-size      : 14px;
    line-height    : 18px;
    color          : #FFFFFF;
    align-items    : center;
    justify-content: center;
    padding        : 5px;
    position       : relative;

    & h4 {
        padding   : 0px 5px;
        text-align: center;
    }
}

.about-myself__content {

    width     : 100%;
    border-top: 1px solid #545454;
    margin-top: -15px;

}

.about-myself__video {
    margin-top     : 55px;
    display        : flex;
    justify-content: center;

    & video {
        max-width: 90%;
    }
}

.credo {
    font-family: 'Dancing Script', cursive;
    padding-top: 15px;
    font-weight: bold;
    font-size  : 24px;
    line-height: 18px;
    color      : #343434;
    margin     : 12px 0px;
    text-align : center;
}