.education {
    margin: 15px 0px;
}

.education__title {
    display        : flex;
    width          : 154px;
    background     : #545454;
    border-radius  : 5px;
    font-family    : 'Montserrat';
    font-weight    : 600;
    font-size      : 14px;
    line-height    : 18px;
    color          : #FFFFFF;
    align-items    : center;
    justify-content: center;
    padding        : 5px;
    position       : absolute;

    &::after {
        content : '';
        width   : 173%;
        height  : 1px;
        border  : 1px solid #545454;
        position: absolute;
        top     : 12px;
        left    : 153px;
    }
}

.education__content {
    margin-top: 45px;
    width     : 75%;
}

.education__content-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size  : 14px;
    line-height: 18px;
    color      : #343434;
    margin     : 10px 0px;
}

.education__content-time {
    font-family: 'Montserrat', sans-serif;
    font-size  : 9px;
    line-height: 18px;
    color      : #73808D;
}

.education__content-text {
    font-family: 'Montserrat', sans-serif;
    font-size  : 12px;
    line-height: 14px;
    color      : rgba(0, 0, 0, 0.8);
}