.skils {
    margin: 15px 0px;
}

.skils__title {
    display        : flex;
    max-width      : 154px;
    background     : #545454;
    border-radius  : 5px;
    font-family    : 'Montserrat';
    font-style     : normal;
    font-weight    : 600;
    font-size      : 14px;
    line-height    : 18px;
    color          : #FFFFFF;
    align-items    : center;
    justify-content: center;
    padding        : 5px;
    position       : relative;

    & h4 {
        padding: 0px 25px;
    }


}

.skils__content {
    //width     : 100%; 
    margin-top     : -15px;
    padding-top    : 15px;
    border-top     : 1px solid #545454;
    display        : flex;
    justify-content: space-between;

}

.skils__content-items {
    display       : flex;
    flex-direction: column;
    font-family   : 'Montserrat';
    margin-top    : 20px;
    font-weight   : 600;
    font-size     : 14px;
    line-height   : 18px;
    color         : #545454;
    align-items   : center;


    & p {
        margin-top: 5px;
    }

    & img {
        padding        : 10px 5px;
        max-width      : 100%;
        object-position: center;
        object-fit     : cover;
    }
}

.content-items-img:nth-child(1) {
    border         : 3px solid #3B5999;
    width          : 56px;
    height         : 56px;
    border-radius  : 50%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    border-radius  : 50%;
    background     : rgba(196, 196, 196, 0.4);
}

div.skils__content>div:nth-child(3)>div {
    border         : 3px solid #3B5999;
    border-left    : 3px solid rgb(253, 251, 251);
    width          : 56px;
    height         : 56px;
    border-radius  : 50%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    border-radius  : 50%;
    background     : rgba(196, 196, 196, 0.4);
}