.conteiner {
    width     : 70%;
    margin    : 0 auto;
    background: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(224, 37, 206, 0.79) 93.75%);
    padding   : 0px 10px;
    display   : flex;
}

@media (max-width : 960px) {
    .conteiner {
        flex-direction: column;
    }
}